In [85]:
import pandas as pd
import numpy as np

df = pd.read_csv("anggur.csv")

In [11]:
# Menampilkan banyak data (banyak baris), rata-rata nilai, standar deviasi, nilai minimal dan maksimal, serta kuartil
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,7.152530,0.520839,0.270517,2.567104,0.081195,14.907679,40.290150,0.995925,3.303610,0.598390,10.592280,7.958000
std,1.201598,0.095848,0.049098,0.987915,0.020111,4.888100,9.965767,0.002020,0.104875,0.100819,1.510706,0.902802
min,3.320000,0.139900,0.116700,0.032555,0.015122,0.194679,3.150000,0.988800,2.970000,0.290000,6.030000,5.000000
25%,6.377500,0.456100,0.237800,1.896330,0.066574,11.426717,33.785000,0.994600,3.230000,0.530000,9.560000,7.000000
50%,7.150000,0.524850,0.272200,2.519430,0.082167,14.860346,40.190000,0.996000,3.300000,0.595000,10.610000,8.000000
75%,8.000000,0.585375,0.302325,3.220873,0.095312,18.313098,47.022500,0.997200,3.370000,0.670000,11.622500,9.000000
max,11.490000,0.805100,0.409600,5.550755,0.140758,27.462525,69.960000,1.002600,3.710000,0.960000,15.020000,10.000000

In [50]:
# Menampilkan banyak data (banyak baris)
print("Banyaknya jumlah baris dalam data adalah:",df.shape[0])

Banyaknya jumlah baris dalam data adalah: 1000

In [48]:
# Menampilkan banyak atribut (banyak kolom)
print("Banyaknya jumlah kolom dalam data adalah:",df.shape[1])

Banyaknya jumlah kolom dalam data adalah: 12

In [59]:
# Menampilkan rata-rata dari data
print("Rata-rata dari keseluruhan data adalah:")
print(df.mean())

Rata-rata dari keseluruhan data adalah:
fixed acidity            7.152530
volatile acidity         0.520839
citric acid              0.270517
residual sugar           2.567104
chlorides                0.081195
free sulfur dioxide     14.907679
total sulfur dioxide    40.290150
density                  0.995925
pH                       3.303610
sulphates                0.598390
alcohol                 10.592280
quality                  7.958000
dtype: float64

In [64]:
# Menampilkan median dari data
print("Median dari keseluruhan data adalah:")
print(df.median())

Median dari keseluruhan data adalah:
fixed acidity            7.150000
volatile acidity         0.524850
citric acid              0.272200
residual sugar           2.519430
chlorides                0.082167
free sulfur dioxide     14.860346
total sulfur dioxide    40.190000
density                  0.996000
pH                       3.300000
sulphates                0.595000
alcohol                 10.610000
quality                  8.000000
dtype: float64

In [63]:
# Menampilkan modus dari data (mengambil data dari tabel teratas saja)
print("Modus dari keseluruhan data adalah:")
modus = df.mode()
print(modus.loc[0])

Modus dari keseluruhan data adalah:
fixed acidity            6.540000
volatile acidity         0.554600
citric acid              0.301900
residual sugar           0.032555
chlorides                0.015122
free sulfur dioxide      0.194679
total sulfur dioxide    35.200000
density                  0.995900
pH                       3.340000
sulphates                0.590000
alcohol                  9.860000
quality                  8.000000
Name: 0, dtype: float64

In [66]:
# Menampilkan standar deviasi dari data
print("Standar deviasi dari keseluruhan data adalah:")
print(df.std())

Standar deviasi dari keseluruhan data adalah:
fixed acidity           1.201598
volatile acidity        0.095848
citric acid             0.049098
residual sugar          0.987915
chlorides               0.020111
free sulfur dioxide     4.888100
total sulfur dioxide    9.965767
density                 0.002020
pH                      0.104875
sulphates               0.100819
alcohol                 1.510706
quality                 0.902802
dtype: float64

In [67]:
# Menampilkan variansi dari data
print("Variansi dari keseluruhan data adalah:")
print(df.var())

Variansi dari keseluruhan data adalah:
fixed acidity            1.443837
volatile acidity         0.009187
citric acid              0.002411
residual sugar           0.975977
chlorides                0.000404
free sulfur dioxide     23.893519
total sulfur dioxide    99.316519
density                  0.000004
pH                       0.010999
sulphates                0.010164
alcohol                  2.282233
quality                  0.815051
dtype: float64

In [68]:
# Menampilkan range dari data
print("Range dari keseluruhan data adalah:")
nilaiMax = df.max()
nilaiMin = df.min()
print(nilaiMax-nilaiMin)

Range dari keseluruhan data adalah:
fixed acidity            8.170000
volatile acidity         0.665200
citric acid              0.292900
residual sugar           5.518200
chlorides                0.125635
free sulfur dioxide     27.267847
total sulfur dioxide    66.810000
density                  0.013800
pH                       0.740000
sulphates                0.670000
alcohol                  8.990000
quality                  5.000000
dtype: float64

In [75]:
# Menampilkan nilai minimum dari data
print("Nilai minimum dari keseluruhan data adalah:")
print(df.min())

Nilai minimum dari keseluruhan data adalah:
fixed acidity           3.320000
volatile acidity        0.139900
citric acid             0.116700
residual sugar          0.032555
chlorides               0.015122
free sulfur dioxide     0.194679
total sulfur dioxide    3.150000
density                 0.988800
pH                      2.970000
sulphates               0.290000
alcohol                 6.030000
quality                 5.000000
dtype: float64

In [73]:
# Menampilkan nilai maksimum dari data
print("Nilai maksimum dari keseluruhan data adalah:")
print(df.max())

Nilai maksimum dari keseluruhan data adalah:
fixed acidity           11.490000
volatile acidity         0.805100
citric acid              0.409600
residual sugar           5.550755
chlorides                0.140758
free sulfur dioxide     27.462525
total sulfur dioxide    69.960000
density                  1.002600
pH                       3.710000
sulphates                0.960000
alcohol                 15.020000
quality                 10.000000
dtype: float64

In [87]:
# Menampilkan nilai kuartil dari data
print("Nilai kuartil dari keseluruhan data adalah:")
print(df.quantile(np.linspace(.25, 1, 3, 0)))

Nilai kuartil dari keseluruhan data adalah:
      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0.25         6.3775          0.456100     0.237800        1.896330   0.066574
0.50         7.1500          0.524850     0.272200        2.519430   0.082167
0.75         8.0000          0.585375     0.302325        3.220873   0.095312

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0.25            11.426717               33.7850   0.9946  3.23      0.530
0.50            14.860346               40.1900   0.9960  3.30      0.595
0.75            18.313098               47.0225   0.9972  3.37      0.670

      alcohol  quality
0.25   9.5600      7.0
0.50  10.6100      8.0
0.75  11.6225      9.0

In [88]:
# Menampilkan nilai IQR (interquartil range) dari data
print("Nilai interkuartil range dari keseluruhan data adalah:")
q1 = df.quantile(0.25)
q3 = df.quantile(0.75)
print(q3-q1)

Nilai interkuartil range dari keseluruhan data adalah:
fixed acidity            1.622500
volatile acidity         0.129275
citric acid              0.064525
residual sugar           1.324544
chlorides                0.028738
free sulfur dioxide      6.886381
total sulfur dioxide    13.237500
density                  0.002600
pH                       0.140000
sulphates                0.140000
alcohol                  2.062500
quality                  2.000000
dtype: float64

In [74]:
# Menampilkan skewness dari data
print("Skewness dari keseluruhan data adalah:")
print(df.skew())

Skewness dari keseluruhan data adalah:
fixed acidity          -0.028879
volatile acidity       -0.197699
citric acid            -0.045576
residual sugar          0.132638
chlorides              -0.051319
free sulfur dioxide     0.007130
total sulfur dioxide   -0.024060
density                -0.076883
pH                      0.147673
sulphates               0.149199
alcohol                -0.018991
quality                -0.089054
dtype: float64

In [37]:
# Menampilkan kurtosis dari data
print("Kurtosis dari keseluruhan data adalah:")
print(df.kurtosis())

fixed acidity          -0.019292
volatile acidity        0.161853
citric acid            -0.104679
residual sugar         -0.042980
chlorides              -0.246508
free sulfur dioxide    -0.364964
total sulfur dioxide    0.063950
density                 0.016366
pH                      0.080910
sulphates               0.064819
alcohol                -0.131732
quality                 0.108291
dtype: float64